body {
    font-family: 'Audiowide', sans-serif;
    background-color: black;
}

nav {
    background-color: rgba(0, 0, 0, 0.8); /* hafif koyu şeffaf arka plan */
  }

html {
    scroll-behavior: smooth;
}

.gezBtn,
.hakkımda-butonları {
    color: white;
    transition: transform 250ms; /*yavaş geçiş sağlıyor */
}

.hakkımda-butonları:hover {
    color: gray;
}

.gezBtn:hover,
.hakkımda-butonları:hover {
    transform: scale(1.1); /*üzerine fare gelince 110% büyüsün */
}

.gezBtn:active,
.hakkımda-butonları:active {
    transform: scale(0.8); /*tıklayınca 80%'e küçülsün */
    color: white !important;
}

.profil-kutusu {
    margin-top: 120px;
}

.profil-resmi {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    object-fit: cover;
}

.gezegen-kutusu {
    margin-top: 450px;
    display: flex;
    justify-content: center;
    gap: 80px;
}


.gezegen-kutusu img {
    width: 150px;
    height: auto;
} 


.hobiRenk:hover {
    transform: scale(1.1);
    color: blue;
}
.filmRenk:hover {
    transform: scale(1.1); 
    color: orange;
}
.kitapRenk:hover {
    transform: scale(1.1);
    color: purple;
}
.ilgiRenk:hover {
    transform: scale(1.1);
    color: red;
}


.hobiler {
    margin-top: 450px;
}

.hobiler img:hover {
    cursor: pointer;
}
