body {
    overflow: hidden;
    background-color: rgb(34, 5, 98);
    color: white;
    font-family: 'Audiowide', sans-serif;
}


.form-container {
  max-height: 100vh;
  overflow: visible;
  padding: 0 15px;
  box-sizing: border-box;
}

form label {
  margin-bottom: 2px;
  font-size: 0.85rem;
}

form input, form select, form textarea {

  margin-bottom: 0.5px;
}



