body {
    overflow: hidden;
    font-family: 'Audiowide', sans-serif;
    background-color: black;
}


.logobtn {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 250ms;
    color: white;

}

.logobtn:hover {
    transform: scale(1.1);
    color: gray;
}

.logobtn:active {
    transform: scale(0.8);
    color: white;
}

.logobtn img {
    width: 50px;
    height: auto;
}

nav {
    background-color: rgba(0, 0, 0, 0.8); /* hafif koyu şeffaf arka plan */
  }



.slider {
    display: flex;
    width: 300vw; /* 3 sayfa = 3 x ekran genişliği */
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('ana-sayfa-malz/ana-sayfa-arkaplan.png');
    background-size: cover;
    color: white;
    font-size: 32px;
  }

  .sag-buton, .sol-buton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10;
  }

  
.sag-buton {
    right: 20px;
  }
  
.sol-buton {
    left: 20px;
  }

  .roket-sabit {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5; /* diğerlerinin önünde kalsın */
    pointer-events: none; /* tıklamaları engellemesin */
}

.ustkisim {
  position: absolute;
  top: 0%;
}
.gezegen-hover {
    transition: transform 0.3s ease, filter 0.3s ease;
}


.gezegen-hover:hover {
    transform: scale(1.1); 
    filter: brightness(1.2); 
}


@media (max-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
  }

  .logobtn {
    margin: 0 0.25rem;
    padding: 0;
  }

  .logobtn img {
    width: 35px !important;
  }

  .logobtn:last-child {
    margin-right: 0;
  }


  .slide {
    font-size: 16px;
    padding: 1rem 0.5rem;
    justify-content: flex-start;
  }

  .ustkisim,
  .gezegen-hover {
    max-width: 90% !important;
    margin-top: 4rem;
    position: relative !important;
  }

    .ustkisim {
    position: relative !important;
    top: auto !important;
    margin-top: 4rem;
  }

  .roket-sabit {
    
    width: 400px;
    bottom: 10px; /* 0 yerine biraz yukarı al */
    display: block; /* Gizlenmişse tekrar göster */
  }
  

  /* Ok butonlar karışmasın */
  .sag-buton,
  .sol-buton {
    font-size: 20px;
    top: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 10px;
    border-radius: 5px;
  }

  .sag-buton {
    right: 10px;
  }

  .sol-buton {
    left: 10px;
  }

  .slider {
    width: 300vw;
    overflow: hidden;
  }

  body {
    overflow: auto !important;
  }
}
